CN_SKIN_BACKGROUND     BMP   BACKGROUND.BMP
CN_SKIN_BUTTON         BMP   BUTTON.BMP
CN_SKIN_CHECKBOX       BMP   CHECKBOX.BMP
CN_SKIN_COMBO          BMP   COMBO.BMP
CN_SKIN_RADIO          BMP   RADIO.BMP
CN_SKIN_SCROLLBAR      BMP   SCROLLBAR.BMP
CN_SKIN_WINDOW         BMP   WINDOW.BMP
CN_SKIN_WINDOW_BUTTON  BMP   WINDOW_BUTTON.BMP